.plugin-container{
	margin-top:4em;
	text-align:center;
}
#featured_upload{
	font-family: $font-family;
	display:inline-block;
	fieldset{
		border: 2px solid;
    padding: 1.5em 6em;
		legend{
			font-weight: 700;
    	font-size: 1.3em;
    	text-align: left;
    	margin-left: -4em;
		}
	}
	.wrapper{
		text-align: center;
		.block{
			text-align: left;
			display: inline-block;
			.label{
				display: inline-block;
				font-size: 1.2em;
				font-weight: bold;
				width: 70px;
			}
			.field{
				margin-bottom: 10px;
			}
			input[type='file']{
				display: block;
				padding:1em;
				border:1px solid #d6d2cb;
			}
			.submit{
				text-align: right;
				input[type="submit"]{
					@extend .btn-basic;
				}
				
			}
		}
	}
	.or{
		font-size: 2em;
		font-weight: bold;
		margin: 1em 0;
	}


}