$blue: 					#22adc2;
$blue-light:		#4ebdce;
$grey:					#ebebeb;
$grey-dark:			#736f66;
$pink:					#f35c9f;

$blue-bg:       $blue;
$grey-bg:				$grey;
$font-color: 		$grey-dark;
$title-color:		#000;
$link-color:		$pink;

$font-family:						"Raleway";

